:root {
    --sidebar-channel-type: "both";
    --sidebar-channel-width: 68px;
    --sidebar-channel-transition: 200ms;
    --sidebar-channel-icon-size: 22px;
    --sidebar-channel-active-width: 245px;
    --sidebar-channel-active-transition: 800ms;
}

@container style(--sidebar-channel-type: "focus") or style(--sidebar-channel-type: "hover") or style(--sidebar-channel-type: "both") {

    /* remove left dot for unread channel */
    .unread__48cf4 {
        display: none;
    }

    /* changing channel icon color as replacement for dot*/
    [class*="modeUnread"] .icon__67ab4,
    .modeSelected__473f1 .icon__67ab4 {
        color: var(--interactive-active);
    }

    .sidebar_e031be:has(.container__7e23c)>nav * {
        transition: var(--sidebar-channel-active-transition);
    }

    .sidebar_e031be:has(.container__7e23c) .animatedContainer__0e828 .bannerImage_c73a57,
    .sidebar_e031be:has(.container__7e23c) .animatedContainer__0e828 .bannerImage_c73a57 img {
        width: var(--member-list-active-width);
        opacity: 1;
        transition: opacity calc(var(--member-list-active-transition) + 1500ms);
    }

    /* active sidebar width */
    .sidebar_e031be:has(.container__7e23c) {
        width: var(--sidebar-channel-active-width);
        transition: var(--sidebar-channel-active-transition);
    }

    .sidebar_e031be:has(.container__7e23c) header .headerContent__6fcc7 {
        justify-content: center
    }


}

@container style(--sidebar-channel-type: "focus") or style(--sidebar-channel-type: "both") {
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav * {
        transition: var(--sidebar-channel-transition);
    }

    /* default sidebar width */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) {
        width: var(--sidebar-channel-width);
        transition: var(--sidebar-channel-transition);
    }

    /* pointer events*/
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav {
        cursor: pointer;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>*>* * {
        pointer-events: none;
    }

    /* hide server name when not focused-within */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) header>div>.name_e8e549 {
        display: none
    }

    /* remove margin-right on channel icon */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .iconContainer__6a580 {
        margin-right: unset;
    }

    /* channel link to only display icons by hiding other elements*/
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .name_e8e549,
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li .linkBottom__942a1 {
        display: none;
    }

    /* only show channel's boost progressBar level when not active */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5>div.progressBarContainer_e11b41 {
        display: none
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) header {
        box-shadow: var(--elevation-low);
        transition: inherit !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) .animatedContainer__0e828 {
        height: 0;
        opacity: 0 !important;
        transition: none !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) .animatedContainer__0e828 .bannerImage_c73a57,
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) .animatedContainer__0e828 .bannerImage_c73a57 img {
        opacity: 0;
    }

    /* fix Activity panel */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.activityPanel_b73e7a {
        display: flex;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.activityPanel_b73e7a>div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    /* action buttons when joining voice channel */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c {
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        overflow: scroll hidden;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c>* {
        scroll-snap-align: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c::-webkit-scrollbar {
        display: none;
    }

    /* show only your profile picture on sidebar */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d:has(>.avatarWrapper__500a6)>.flex_f18b02 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):focus-within>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        padding-left: 2px;
        margin-left: 2px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d {
        margin-left: 0px;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        min-width: 34px;
        min-height: 37px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d>.avatarWrapper__500a6>.nameTag__77ab2 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c)>.panels__58331>.container_e1958d {
        display: flex;
        justify-content: space-between;
    }
}

@container style(--sidebar-channel-type: "hover") or style(--sidebar-channel-type: "both") {
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav * {
        transition: var(--sidebar-channel-transition);
    }

    /* default sidebar width */
    .sidebar_e031be:has(.container__7e23c):not(:hover) {
        width: var(--sidebar-channel-width);
        transition: var(--sidebar-channel-transition);
    }

    /* pointer events*/
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav {
        cursor: pointer;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>*>* * {
        pointer-events: none;
    }

    /* hide server name when not focused-within */
    .sidebar_e031be:has(.container__7e23c):not(:hover) header>div>.name_e8e549 {
        display: none
    }

    /* remove margin-right on channel icon */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .iconContainer__6a580 {
        margin-right: unset;
    }

    /* channel link to only display icons by hiding other elements*/
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .name_e8e549,
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li .linkBottom__942a1 {
        display: none;
    }

    /* only show channel's boost progressBar level when not active */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5>div.progressBarContainer_e11b41 {
        display: none
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) header {
        box-shadow: var(--elevation-low);
        transition: inherit !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) .animatedContainer__0e828 {
        height: 0;
        opacity: 0 !important;
        transition: none !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) .animatedContainer__0e828 .bannerImage_c73a57,
    .sidebar_e031be:has(.container__7e23c):not(:hover) .animatedContainer__0e828 .bannerImage_c73a57 img {
        opacity: 0;
    }

    /* fix Activity panel */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.activityPanel_b73e7a {
        display: flex;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.activityPanel_b73e7a>div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    /* action buttons when joining voice channel */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c {
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        overflow: scroll hidden;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c>* {
        scroll-snap-align: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c::-webkit-scrollbar {
        display: none;
    }

    /* show only your profile picture on sidebar */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d:has(>.avatarWrapper__500a6)>.flex_f18b02 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):hover>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        padding-left: 2px;
        margin-left: 2px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d {
        margin-left: 0px;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        min-width: 34px;
        min-height: 37px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d>.avatarWrapper__500a6>.nameTag__77ab2 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c)>.panels__58331>.container_e1958d {
        display: flex;
        justify-content: space-between;
    }
}

@container style(--sidebar-channel-type: "both") {
    *:has(.sidebar_e031be:hover) {
        --sidebar-channel-type: "hover";
    }

    *:has(.sidebar_e031be:focus-within) {
        --sidebar-channel-type: "focus";
    }
}
