:root {
    --sidebar-channel-type: "both";
    --sidebar-channel-width: 68px;
    --sidebar-channel-transition: 200ms;
    --sidebar-channel-icon-size: 22px;
    --sidebar-channel-active-width: 245px;
    --sidebar-channel-active-transition: 800ms;
}

@container style(--sidebar-channel-type: "focus") or style(--sidebar-channel-type: "hover") or style(--sidebar-channel-type: "both") {

    /* channel link icon */
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 svg[class*="icon"] {
        width: var(--sidebar-channel-icon-size);
        height: var(--sidebar-channel-icon-size);
    }

    /* remove left dot for unread channel */
    .unread__48cf4 {
        display: none;
    }

    /* changing channel icon color as replacement for dot*/
    [class*="modeUnread"] .icon__67ab4,
    .modeSelected__473f1 .icon__67ab4 {
        color: var(--interactive-active);
    }

    /* remove channels icon when there's channel emoji */
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li>div>div a:has(> :nth-child(n + 2))>[class*="linkTop_"]:has([class*="channelEmoji_"])>.iconContainer__6a580 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c)>nav * {
        transition: var(--sidebar-channel-active-transition);
    }

    .sidebar_e031be:has(.container__7e23c) [class*="animatedContainer_"] [class*="bannerImage_"],
    .sidebar_e031be:has(.container__7e23c) [class*="animatedContainer_"] [class*="bannerImage_"] img {
        width: var(--member-list-active-width);
        opacity: 1;
        transition: opacity calc(var(--member-list-active-transition) + 1500ms);
    }

    /* active sidebar width */
    .sidebar_e031be:has(.container__7e23c) {
        width: var(--sidebar-channel-active-width);
        transition: var(--sidebar-channel-active-transition);
    }

    .sidebar_e031be:has(.container__7e23c) header [class*="headerContent"],
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li[tabindex="0"] .link_ddbb36>div[class^="content_"]:has(>.iconContainer__6a580),
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li[tabindex="-1"] .link_ddbb36>div[class^="content_"]:has(>.iconContainer__6a580) {
        justify-content: center
    }


}

@container style(--sidebar-channel-type: "focus") or style(--sidebar-channel-type: "both") {
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav * {
        transition: var(--sidebar-channel-transition);
    }

    /* default sidebar width */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) {
        width: var(--sidebar-channel-width);
        transition: var(--sidebar-channel-transition);
    }

    /* pointer events*/
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav {
        cursor: pointer;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>*>* * {
        pointer-events: none;
    }

    /* hide server name when not focused-within */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) header>div>.name_e8e549 {
        display: none
    }

    /* remove margin-right on channel icon */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .iconContainer__6a580 {
        margin-right: unset;
    }

    /* channel link to only display icons by hiding other elements*/
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .name_e8e549,
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 div[class*="children_"],
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 div[class*="textBadge_"],
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li .linkBottom__942a1 {
        display: none;
    }

    /* added padding-left when not focused-within to fix some channel that aren't horizontally centered */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li:has(.link_ddbb36):not(:has(div[class*="children_"])) {
        padding-left: 4px;
    }

    /* channel category to be hidden when not active */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li:has([aria-label*="(category)"]) svg[class*="arrow_"] {
        display: none
    }

    /* channel link threads to be hidden when not active  */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li:has(div[class*="spineBorder_"]):has(div[aria-label*="(thread)"]) {
        display: none
    }

    /* remove list on voice channel's */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5 li>div[class*="list_"] {
        display: none
    }

    /* hide channel's "Hide Voice Channels" and "Show All" when not active */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5>div[class*="voiceChannelsButton_"]>* {
        display: none
    }

    /* only show "..." on "Hide Voice Channels" and "Show All" when not active */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5>div[class*="voiceChannelsButton_"]:before {
        margin-left: 8px;
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-family: var(--font-primary);
        font-size: 14px;
        line-height: 18px;
        color: var(--text-normal);
        content: "..."
    }

    /* only show channel's boost progressBar level when not active */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5>div[class*="divider_"],
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5>div.progressBarContainer_e11b41,
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>.scroller__1f498>ul.content__690c5>div[aria-label*="Boost"] {
        display: none
    }

    /* only show down arrow on New unread */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>div div[class*="bar_"]:has([class*="barText_"]):has(svg)>div {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>div div[class*="bar_"]:has([class*="barText_"])>svg {
        margin-right: 0px;
    }

    /* only show "NEW" on new mention */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>div div[class*="bar_"]:has([class*="barText_"]):not(:has(svg))>div {
        display: none
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>nav>div div[class*="bar_"]:has([class*="barText_"]):not(:has(svg)):before {
        content: "new";
        font-size: 12px;
        line-height: 16px;
        font-family: var(--font-display);
        font-weight: 600;
        color: var(--white-500);
        text-transform: uppercase;
    }

    /* hide category name when not active */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) ul.content__690c5 .containerDefault_ae2ea4:has([class*="arrow_"]) h3[class*="name"] [class^="overflow"] {
        display: none
    }

    /* only show "..." on category name when not active */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) ul.content__690c5 .containerDefault_ae2ea4:has([class*="arrow_"]) h3[class*="name"]:before {
        display: flex;
        justify-content: center;
        font-family: var(--font-primary);
        line-height: 16px;
        color: var(--channels-default);
        content: "..."
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) ul.content__690c5 .containerDefault_ae2ea4:has([class*="arrow_"]) div[class*="children"] {
        display: none
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) header {
        box-shadow: var(--elevation-low);
        transition: inherit !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) [class*="animatedContainer_"] {
        height: 0;
        opacity: 0 !important;
        transition: none !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) [class*="animatedContainer_"] [class*="bannerImage_"],
    .sidebar_e031be:has(.container__7e23c):not(:focus-within) [class*="animatedContainer_"] [class*="bannerImage_"] img {
        opacity: 0;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within) ul.content__690c5:has(>div[style^="height:"]:nth-child(2)) div[aria-hidden="true"]:first-child {
        position: absolute;
        transition: none !important;
    }

    /* only show Disconnect icon when joining on voice channel */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>div>[class*="inner_"],
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>div>div>[aria-label*="Noise Suppression"] {
        display: none;
    }

    /* fix Activity panel */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.activityPanel_b73e7a {
        display: flex;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.activityPanel_b73e7a>div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.activityPanel_b73e7a>div>div[class*="gameWrapper_"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.activityPanel_b73e7a>div>div[class*="gameWrapper_"]>div[class*="info_"] {
        display: none;
    }

    /* action buttons when joining voice channel */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c {
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        overflow: scroll hidden;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c>* {
        scroll-snap-align: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c::-webkit-scrollbar {
        display: none;
    }

    /* show only your profile picture on sidebar */
    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d:has(>.avatarWrapper__500a6)>.flex_f18b02 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):focus-within>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        padding-left: 2px;
        margin-left: 2px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d {
        margin-left: 0px;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        min-width: 34px;
        min-height: 37px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d>.avatarWrapper__500a6>.nameTag__77ab2 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):not(:focus-within)>.panels__58331>.container_e1958d>[class*="directionRow_"] {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c)>.panels__58331>.container_e1958d {
        display: flex;
        justify-content: space-between;
    }
}

@container style(--sidebar-channel-type: "hover") or style(--sidebar-channel-type: "both") {
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav * {
        transition: var(--sidebar-channel-transition);
    }

    /* default sidebar width */
    .sidebar_e031be:has(.container__7e23c):not(:hover) {
        width: var(--sidebar-channel-width);
        transition: var(--sidebar-channel-transition);
    }

    /* pointer events*/
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav {
        cursor: pointer;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>*>* * {
        pointer-events: none;
    }

    /* hide server name when not focused-within */
    .sidebar_e031be:has(.container__7e23c):not(:hover) header>div>.name_e8e549 {
        display: none
    }

    /* remove margin-right on channel icon */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .iconContainer__6a580 {
        margin-right: unset;
    }

    /* channel link to only display icons by hiding other elements*/
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 .name_e8e549,
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 div[class*="children_"],
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li .link_ddbb36 div[class*="textBadge_"],
    .sidebar_e031be:has(.container__7e23c)>nav>.scroller__1f498>ul.content__690c5 li .linkBottom__942a1 {
        display: none;
    }

    /* added padding-left when not focused-within to fix some channel that aren't horizontally centered */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li:has(.link_ddbb36):not(:has(div[class*="children_"])) {
        padding-left: 4px;
    }

    /* channel category to be hidden when not active */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li:has([aria-label*="(category)"]) svg[class*="arrow_"] {
        display: none
    }

    /* channel link threads to be hidden when not active  */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li:has(div[class*="spineBorder_"]):has(div[aria-label*="(thread)"]) {
        display: none
    }

    /* remove list on voice channel's */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5 li>div[class*="list_"] {
        display: none
    }

    /* hide channel's "Hide Voice Channels" and "Show All" when not active */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5>div[class*="voiceChannelsButton_"]>* {
        display: none
    }

    /* only show "..." on "Hide Voice Channels" and "Show All" when not active */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5>div[class*="voiceChannelsButton_"]:before {
        margin-left: 8px;
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-family: var(--font-primary);
        font-size: 14px;
        line-height: 18px;
        color: var(--text-normal);
        content: "..."
    }

    /* only show channel's boost progressBar level when not active */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5>div[class*="divider_"],
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5>div.progressBarContainer_e11b41,
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>.scroller__1f498>ul.content__690c5>div[aria-label*="Boost"] {
        display: none
    }

    /* only show down arrow on New unread */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>div div[class*="bar_"]:has([class*="barText_"]):has(svg)>div {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>div div[class*="bar_"]:has([class*="barText_"])>svg {
        margin-right: 0px;
    }

    /* only show "NEW" on new mention */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>div div[class*="bar_"]:has([class*="barText_"]):not(:has(svg))>div {
        display: none
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>nav>div div[class*="bar_"]:has([class*="barText_"]):not(:has(svg)):before {
        content: "new";
        font-size: 12px;
        line-height: 16px;
        font-family: var(--font-display);
        font-weight: 600;
        color: var(--white-500);
        text-transform: uppercase;
    }

    /* hide category name when not active */
    .sidebar_e031be:has(.container__7e23c):not(:hover) ul.content__690c5 .containerDefault_ae2ea4:has([class*="arrow_"]) h3[class*="name"] [class^="overflow"] {
        display: none
    }

    /* only show "..." on category name when not active */
    .sidebar_e031be:has(.container__7e23c):not(:hover) ul.content__690c5 .containerDefault_ae2ea4:has([class*="arrow_"]) h3[class*="name"]:before {
        display: flex;
        justify-content: center;
        font-family: var(--font-primary);
        line-height: 16px;
        color: var(--channels-default);
        content: "..."
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) ul.content__690c5 .containerDefault_ae2ea4:has([class*="arrow_"]) div[class*="children"] {
        display: none
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) header {
        box-shadow: var(--elevation-low);
        transition: inherit !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) [class*="animatedContainer_"] {
        height: 0;
        opacity: 0 !important;
        transition: none !important;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) [class*="animatedContainer_"] [class*="bannerImage_"],
    .sidebar_e031be:has(.container__7e23c):not(:hover) [class*="animatedContainer_"] [class*="bannerImage_"] img {
        opacity: 0;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover) ul.content__690c5:has(>div[style^="height:"]:nth-child(2)) div[aria-hidden="true"]:first-child {
        position: absolute;
        transition: none !important;
    }

    /* only show Disconnect icon when joining on voice channel */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>div>[class*="inner_"],
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>div>div>[aria-label*="Noise Suppression"] {
        display: none;
    }

    /* fix Activity panel */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.activityPanel_b73e7a {
        display: flex;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.activityPanel_b73e7a>div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.activityPanel_b73e7a>div>div[class*="gameWrapper_"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.activityPanel_b73e7a>div>div[class*="gameWrapper_"]>div[class*="info_"] {
        display: none;
    }

    /* action buttons when joining voice channel */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c {
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        overflow: scroll hidden;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c>* {
        scroll-snap-align: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.wrapper_e832ee>.container_e1958d>.actionButtons__85e3c::-webkit-scrollbar {
        display: none;
    }

    /* show only your profile picture on sidebar */
    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d:has(>.avatarWrapper__500a6)>.flex_f18b02 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):hover>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        padding-left: 2px;
        margin-left: 2px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d {
        margin-left: 0px;
        justify-content: center;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d>.avatarWrapper__500a6 {
        min-width: 34px;
        min-height: 37px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d>.avatarWrapper__500a6>.nameTag__77ab2 {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c):not(:hover)>.panels__58331>.container_e1958d>[class*="directionRow_"] {
        display: none;
    }

    .sidebar_e031be:has(.container__7e23c)>.panels__58331>.container_e1958d {
        display: flex;
        justify-content: space-between;
    }
}

@container style(--sidebar-channel-type: "both") {
    *:has(.sidebar_e031be:hover) {
        --sidebar-channel-type: "hover";
    }

    *:has(.sidebar_e031be:focus-within) {
        --sidebar-channel-type: "focus";
    }
}
