:root {
    --member-list-width: 70px;
    --member-list-focused-width: 240px;
    --member-list-transition: 200ms;
    --member-list-focused-transition: 600ms;
}

/* unfocused-within membersWrap width */
.membersWrap__90226 {
    min-width: var(--member-list-width);
    transition: ease-in-out var(--member-list-transition);
}

.membersWrap__90226 .members__9f47b {
    width: var(--member-list-width);
}

/* focused-within membersWrap width */
.membersWrap__90226:focus-within .members__9f47b {
    width: var(--member-list-focused-width);
    transition: ease-in var(--member-list-focused-transition);
}

/* pointer eventers */
.membersWrap__90226:not(:focus-within) .members__9f47b {
    cursor: pointer;
}

.membersWrap__90226:not(:focus-within) .members__9f47b>* {
    pointer-events: none;
}

/* hide user role category when not focus-within */
.membersWrap__90226:not(:focus-within) .membersGroup__85843 {
    opacity: 0%;
    height: 0px;
    transition: ease-out var(--member-list-transition);
}

.membersWrap__90226:not(:focus-within) .membersGroup__85843:first-of-type {
    padding: 10px 8px 0px 16px;
    content: "searchhhhh"
}

.membersWrap__90226:not(:focus-within) .membersGroup__85843:not(:first-of-type) {
    padding: 0px 8px 0px 16px;
}

/* membersWrap height for not focus-within */
.membersWrap__90226:not(:focus-within) .content__23cab {
    height: 100vh !important;
}

/* hide notes in private threads */
.membersWrap__90226:not(:focus-within) .content__23cab>[class*="private_"]~div:last-child,
.membersWrap__90226:not(:focus-within) .content__23cab>[class*="divider_"],
.membersWrap__90226:not(:focus-within) .content__23cab>[class*="private_"] {
    opacity: 0%;
    transition: ease-out calc(var(--member-list-transition) - 0.5s);
}

/* Fix new child div from memberlist that has its own width which brokes the previous commit */
*:has(.membersWrap__90226:not(:focus-within)) .membersListNotices_a4cb13:not(:has(>div>div)) {
    width: unset;
}
