:root {
	--sidebar-dm-width: 68px;
	--sidebar-dm-focused-width: 245px;
	--sidebar-dm-transition: 200ms;
	--sidebar-dm-focused-transition: 600ms;
	--sidebar-dm-display-header: flex;
}

/* unfocused-within sidebar-dim width */
.sidebar_e031be:has(.privateChannels__9b518) {
	width: var(--sidebar-dm-width);
	transition: ease-out var(--sidebar-dm-transition);
}

/* focused-within sidebar-dim width */
.sidebar_e031be:has(.privateChannels__9b518):focus-within {
	width: var(--sidebar-dm-focused-width);
	transition: ease-in var(--sidebar-dm-focused-transition);
}

/* pointer events*/
.sidebar_e031be:has(.privateChannels__9b518):not(focus-within)>*>*>* {
	cursor: pointer;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>nav>*>*>* {
	pointer-events: none;
}

/* don't show close dm button when hovering to avatar until it's focus-within */
.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>nav>.scroller__89969>ul>li:focus-within>div>.closeButton__116c3 {
	display: none;
}

/* hide direct message header category */
.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>nav>.scroller__89969>ul>.privateChannelsHeaderContainer_b22dc9 {
	display: none;
}

.sidebar_e031be:has(.privateChannels__9b518):focus-within>nav>.scroller__89969>ul>.privateChannelsHeaderContainer_b22dc9 {
	display: var(--sidebar-dm-display-header);
}

/* hide conversation searchBar*/
.sidebar_e031be:has(.privateChannels__9b518)>nav>.searchBar__621ec {
	display: none;
}

/* only show Disconnect icon when joining on voice channel */
.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container__3792d>div>[class*="inner-"] {
	display: none;
}

/* fix Activity panel */
.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>[class*="activityPanel-"] {
	display: flex;
	justify-content: center;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>[class*="activityPanel-"]>div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>[class*="activityPanel-"]>div>div[class*="gameWrapper-"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>[class*="activityPanel-"]>div>div[class*="gameWrapper-"]>div[class*="info-"] {
	display: none;
}

/* action buttons when joining voice channel */
.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container__3792d>[class*="actionButtons-"] {
	display: flex;
	flex-direction: row;
	scroll-snap-type: x mandatory;
	overflow: scroll hidden;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container__3792d>[class*="actionButtons-"]>* {
	scroll-snap-align: center;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.wrapper_e832ee>.container__3792d>[class*="actionButtons-"]::-webkit-scrollbar {
	display: none;
}

/* show only your profile picture on sidebar */
.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.container__3792d {
	margin-left: 0px;
	justify-content: center;
}

.sidebar_e031be:has(.privateChannels__9b518):focus-within>.panels__58331>.container__3792d>.avatarWrapper__500a6 {
	padding-left: 2px;
	margin-left: 2px;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.container__3792d>.avatarWrapper__500a6 {
	min-width: 34px;
	min-height: 37px;
	margin-left: 0px;
	padding-left: 0px;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.container__3792d>.avatarWrapper__500a6>.nameTag__77ab2 {
	display: none;
}

.sidebar_e031be:has(.privateChannels__9b518):not(:focus-within)>.panels__58331>.container__3792d>[class*="directionRow-"] {
	display: none;
}
